/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 140px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.cusImg{
  width: 100px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px ;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

code {
  font-size: 80%;
}


body {
  background-color: black;
}
.carousel-inner > .item {
  height: 450px;
}

.carousel{
  background-color:#b3b3b3;
}


.carousel-inner > .item > img {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  max-height: 300px;
  width: auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}