{% extends 'master.html' %}

{% block titulo %} Búsqueda avanzada de videojuegos {% endblock %}
		    
{% block contenido %} 
    <!-- BÚSQUEDA -->
      <div class="row">
        <h2>Búsqueda avanzada de productos</h2>
        <p class="text-muted">La búsqueda de este formulario se realizará sobre el contenido de la descripción de los videojuegos</p>
        {% csrf_token %}
        <form method="GET" action="/busqueda_avanzada.html" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6 col-xs-12">
              <input type="text" class="form-control" id="juego" name="juego" placeholder="Texto a buscar en descripción">
            </div>
            <div class="col-sm-3 col-xs-12">
              <select name="plataforma" class="form-control">
                <option value="">Plataforma</option>
                {% for plataforma in plataformas %}
                  <option value="{{plataforma.idPlataforma}}">{{plataforma.nombre}}</option>
                {% endfor %}    
              </select>
            </div>
            <div class="col-sm-3 col-xs-12">
              <button type="submit"class="btn btn-primary btn-block">Buscar</button>
            </div>
          </div>
        </form>
      </div>
      {% if juegos %}
        <hr>
        <h3>Cadena de búsqueda: {{searchString}}</h3>

            <ul class="list-group">
                {% for juego in juegosPaginados %}
                <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="{{juego.portada}}" alt="{{juego.nombre}}" height="150px">
                    </div>

                    <div class="col-xs-5">
                        <strong>{{juego.plataforma.abreviatura}} - {{juego.nombre}}</strong>
                        <p><span class="glyphicon glyphicon-shopping-cart"></span><abbr title="Precio del producto en tienda" class="initialism"> Venden:</abbr> {{juego.precioVenta}} €</p>
                        <p><span class="glyphicon glyphicon-eur"></span> <abbr title="Dinero en metálico que te dan al vender este producto" class="initialism"> Compran:</abbr> {{juego.precioCompra}} €</p>
                        <p><span class="glyphicon glyphicon-refresh"></span> <abbr title="Dinero en vale que te dan al vender este producto" class="initialism"> Intercambian:</abbr> {{juego.precioIntercambio}} €</p>
                    </div>

                    <div class="col-xs-3">
                         <a href="/detalles.html?sku={{juego.sku}}" class="btn btn-success btn-md">
                            <span class="glyphicon glyphicon-random"></span> Histórico de precios 
                          </a>
                    </div>
                </div>
                </li>
                {% endfor %}
            </ul>
        </div>


        <nav aria-label="...">
            <ul class="pager">
              {% if juegos.has_previous %}
                  <li><a href="?juego={{searchString}}&plataforma={{plataformSel}}&page={{ juegos.previous_page_number }}">Anterior</a></li>
              {% else %}
                  <li class="disabled"><a>Anterior</a></li>
              {% endif %}

              Página {{ juegos.number }} de {{ juegos.paginator.num_pages }}.
          
              {% if juegos.has_next %}
                  <li><a href="?juego={{searchString}}&plataforma={{plataformSel}}&page={{ juegos.next_page_number }}">Siguiente</a></li>
              {% else %}
                  <li class="disabled"><a>Siguiente</a></li>
              {% endif %}
          </ul>
        </nav>
      {% endif %}

{% endblock %}